.button {
    background-color: var(--color-blue);
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.inverted {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
}