.post-container {
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    .post-header {
        display: flex;
        .dots {
            margin-left: auto;
            font-size: 1.5rem;
        }
        .post-info {
            display: flex;
            div:first-child {
                margin-right: 10px;
            }
            
            &-name {
                font-size: 0.8rem;
            }
            &-time {
                font-size: 0.7rem;
                opacity: 0.8;
            }
        }
    }

    .post-avatar-container {
        margin-top: 20px;
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            border-radius: 15px;
            max-height: 300px;
        }
    }
    .post-like-comment {
        &-count {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8rem;
            margin: 10px 0;
            opacity: 0.9;
        }
        &-action {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            div {
                display: flex;
                align-items: center;
                span {
                    font-size: 0.8rem;
                }
            }
        }

    }
    .comment-input {
        display: flex;
        margin-top: 10px;
        align-items: center;
        div:nth-child(2) {
            width: 100%;
            margin-left: 10px;
        }
        .submit-button {
            font-size: 1.5rem;
            background-color: #E8F2FF;
            display: flex;
            align-items: center;
            margin-left: 10px;
            padding:5px 10px;
            border-radius: 5px;
            cursor: pointer;
            &-inner {
               color: #1181FF
            }
        }
    }
    .comment-list {
        .comment-item {
            display: flex;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            padding: 10px;
            border-radius: 15px;
            margin-top: 10px;
            div {
                align-self: flex-start;
            }
            .comment-info {
                margin-left: 20px;
                p:first-child {
                    font-size: 0.8rem;
                }
                p:nth-child(2) {
                    font-size: 0.7rem;
                    opacity: 0.8;
                }
                p:nth-child(3) {
                    font-size: 0.8rem;
                    font-weight: 200;
                }
            }
        }
    }
}