.first-last-name-container {
    display: flex;

    justify-content: space-between;
}

.gender-dob-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    .gender-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid var(--color-dark-gray);
        padding: 10px;
        border-radius: 10px;
        font-size: 0.8rem;
        
        .gender-item {
            display: flex;
            align-items: center;
            input {
                margin-right: 10px;
            }
        }
        .gender-item:first-child {
            margin-right: 10px;
        }
    }
}
