.input-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-dark-gray);
    border-radius: 8px;
    padding: 10px 15px;
   
    .input-icon {
        display: flex;
        align-items: center;
        margin: 0 10px;
        color: var(--color-dark-gray)
    }
    input {
        border: 0;
        outline: 0;
        width: 100%;
        
    }
}