.search-bar-container {
    display: flex;
    align-items: center;
    width: 350px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    .search-icon {
        color: #ddd;
        margin-right: 10px;
    }
    input {
        border: none;
        outline: none;
        width: 100%;
    }
}