@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root {
  --font-main: 'Poppins', sans-serif;
  --color-dark-gray: #515c77;
  --color-light-gray: #F6F6F9;
  --color-blue: #4196fc;
  --color-green: #00CF83;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 12px;
}

body {
  font-family: var(--font-main);
  color: var(--color-dark-gray);
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 0; padding: 0;
}

a {
  color: var(--color-dark-gray)
}

