@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

:root {
  --font-main: 'Poppins', sans-serif;
  --color-dark-gray: rgb(77, 60, 100)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-main);
  padding: 20px;
}