.friend-request-list {
   
        display: grid;
        grid-template-columns: repeat(4, 190px);
        gap: 20px;
        margin-top: 20px;
        min-height: 650px;
        max-height: 650px;
       
    
}